.input-container > label {
  font-weight: bolder;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.personal-input {
  padding: 2px;
  text-indent: 2px;
  margin: 5px;
}
input {
  display: flex;
}
